.toolbox{
    width: 900vx;
    height: 900vx;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.box{
    width: 50%;
    height: 995px;
    background-color:#ddd7d7;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.btn{
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}    

.btn:hover{
    transition: 0.2ms;
}
.btnbtn1{
    background-color: red;
}
.btn2{
    background-color: blue;
}
.btn3{
    background-color: green;
}
.btn4{
    background-color: gray;
}
.btn5{
    background-color: white;
    color: black;
}
.btn6{
    background-color: lavender;
    color: black;
}
.btn7{
    background-color: purple;
}
.btn8{
    background-color: pink;
}

@media screen and (max-width: 780px){
    .toolbox{
        width: 85%;
    }
    .btn{
        padding: 9px 15px;
    }
}
